# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.egg-info/
*.egg

# Editor e IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Banco de dados local
*.sqlite3

# Logs
*.log

# Arquivos de ambiente
.env


